/**
 * Methane client CSS
 */

@import url('bootstrap.min.css');

body {
  padding-top: 10px;
  background: url('../img/bgnoise.gif');
}

@media (max-width: 767px) {
  body {
    padding: 0;
  }
}

.nav-tabs {
  border-bottom: 0;  
}

.nav-tabs > .active a {
  background: #eee;
}

.nav-tabs > .active a:hover {
  background: #eee;
}

#header {
  background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#eee),
		to(#c8c8c8)
	);

  height: 50px;
  margin-bottom: -37px;
  margin-top: -10px;
}
